<div class="main">
  <h1>
    {{title}}
  </h1>

<!--<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">-->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />

  <code>
    From Express: {{observable$ | async | json}}
  </code>
  
  <h2>Register</h2>
  <app-signup></app-signup>

  <ul>
    <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="login" routerLinkActive="active">Login</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>

<!-- Development tools -->
<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>
