<div class="main">
  <h1>
    {{title}}
  </h1>

  <code>
    From Express: {{observable$ | async | json}}
  </code>
  
  <app-signup></app-signup>
  <app-login></app-login>

  <ul>
    <li><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
    <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
    <li><a routerLink="login" routerLinkActive="active">Login</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>

<!-- Development tools -->
<!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->
